<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap Library -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    
    <!-- CSS link -->
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <title>Seenit | Index</title>
  </head>
  <body>

    <!-- Jquery Library + Bootstrap JavaScript Library-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


    <!-- Seenit LOGO and Login/Register Bar -->
<nav>
<div class="row" id="nav">
  <div class="col-sm-7">
    <a href="/posts"  id="navlink" class="logo"><h1><i class="fab fa-reddit"></i>Seenit</h1></a>
  </div>

  <div class="col-sm-2" id="link">
    <a  id="navlink" href="/posts/new">Create A New Post</a>
  </div>
   <div class="col-sm-1" id="link">
    <a  id="navlink" href="/login">Login</a>
   </div>
    <div class="col-sm-1" id="link">
    <a  id="navlink" href="/register">Register</a>
  </div>
</div>
</nav>

    <main class="show">

      <div class="row">
        <div class="col-sm-7" id="allPosts">
      
        <!-- VIEW POSTS -->
        <div class="post">
            <section class="showPost">
    
                <h2 id="titleText"><%= post.title %></h2>

                <button id="editButton">
                <a id="editText" href="/posts/<%= post._id %>/edit">Edit</a>
                </button>

                <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                  <input id="deleteButton" type="submit" value="Delete" />
                </form>

                <aside>
                    <i class="fas fa-arrow-up"></i>
                    <i class="fas fa-arrow-down"></i>
                </aside>
                <ul>
                    
                    <li id="authorText">Author: <%= post.author.username %></li>
    
                    <li id="bodyText"><%= post.body %></li>
                    
                </ul>
            </section>
    </div>

    
            <!-- VIEW COMMENTS -->
            
            <div class="comment">
                <form action="/posts/<%= post._id %>/comments" method="POST">
                    <p>
                      <textarea type="text" class="commentbox" name="commentbody" placeholder="Write your comment here..."></textarea>
                    </p>
                    
                    <input id="commentButton" type="submit" value="Add Comment" />
                  </form>
                  
                <% post.comments.forEach ( comment => { %>
                    <span class="align-baseline">
                        <i class="fas fa-arrow-up"></i>
                        <i class="fas fa-arrow-down"></i>
                    </span>
                    <span class="align-text-middle"></span>
                <ul id="commentText">
                    <li id="commentBody"><%= comment.commentbody %></li>
                    <li id="commentAuthor"><%= comment.commentauthor.username %></li>
                </ul>
                <% }) %>
            
            
        </p>
    </div>
</div>

    <div class="col-sm-3" id="categories">

        <% if (user){ %>
          <p id="username"><%= user.username %></p>
        <form action="/logout?_method=DELETE" method="POST">
          <input id="logoutButton" type="submit" value="Sign Out">
        </form>
        <% } %>
  
  
        <h2>Categories</h2>
        <ul>
          
            <li class="container" id="topContainer">
                <a id="containerText" href="/posts/"> All</a>
              </li>
              <li class="container">
                <a id="containerText" href="/posts/category?category=music"> Music </a>
              </li>
              <li class="container">
                <a id="containerText" href="/posts/category?category=aww"> Aww </a>
              </li>
              <li class="container">
                <a id="containerText" href="/posts/category?category=worldevents"> World Events</a>
              </li>
              <li class="container">
                <a id="containerText" href="/posts/category?category=gaming"> Gaming </a>
              </li>
              <li class="container">
                <a id="containerText" href="/posts/category?category=youtube"> YouTube </a>
              </li>
              <li class="container">
                <a id="containerText" href="/posts/category?category=wellthatsucks"> Well That Sucks </a>
              </li>
              <li class="container">
                <a id="containerText" href="/posts/category?category=roastme"> Roast Me </a>
              </li>
              <li class="container"> 
                <a id="containerText" href="/posts/category?category=casual"> Casual </a>
              </li>
              <li class="container" id="bottomContainer">
                <a id="containerText" href="/posts/category/category?=dankmemes"> Dank Memes</a>
              </li>
          
        </ul>
      </div>
      </div>
  
        
      </main>
    </body>
  </html>