<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>
<body>
    <nav>
        <h1>Post</h1>
        <ul>
            <li>
            <a href="/posts">Posts</a>
            </li>
        </ul>
    </nav>
    <main>
        <!-- VIEW POSTS -->
        <section>
            <h2>Post Data</h2>
            <a href="/post/<%= post._id %>/edit">Edit</a>
            <ul>
                <li>Post Name: <%= post.name %></li>
                <li>Body: <%= post.body %></li>
                <li>User: <%= post.author %></li>
            </ul>
        </section>
        <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete" />
        </form>
    </form>

        <!-- VIEW COMMENTS -->
        <p>
            <form action="/posts/<%= post._id %>/comments" method="POST">
                <p>
                  <textarea type="text" name="commentbody" placeholder="Write your comment here..."></textarea>
                </p>
                
                <input type="submit" value="Create" />
              </form>
            
    
            <% post.comments.forEach ( comment => { %>
            <p>
                <%= comment.commentbody %>
                <%= comment.commentauthor %>
            </p>
            <% }) %>
        
        
    </p>

    
        </main>
        
    </body>
    </html>